@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --background-image-formRecente: url("../assets/formRecente.webp");
  --background-image-avantages: url("../assets/avantages.png");
  --background-image-become: url("../assets/become.png");
  --color-sage: #001f3d;
  --color-mywhite: #ffffff;
  --color-myCTA: #14843f;
}

@layer base {
  html,
  body {
    overscroll-behavior-y: none;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    position: relative;
    width: 100%;
  }
}
