@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --background-image-heroEtformRecente: url("../assets/heroEtformRecente.webp");
  --background-image-avantages: url("../assets/avantages.png");
  --background-image-become: url("../assets/become.png");
  --background-image-apropos: url("../assets/apropos.png");
  --background-image-contact: url("../assets/contact.webp");
  --color-vertFonce: #4a5d4e;
  --color-mywhite: #ffffff;
  --color-vertClair: #13843F;
   --color-beige: #FBF6E9;
}

@layer base {
  html,
  body {
    overscroll-behavior-y: none;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    position: relative;
    width: 100%;
  }
}
